<% provide(:title, "Sobre") %>
<h1>Sobre</h1>
<p>
  O Berean ainda está em desenvolvimento. Se você tem alguma crítica ou sugestão,
  por favor envie as para meu
  <a href="mailto:renato.katia@gmail.com">e-mail</a>.
  Ficarei muito grato.
</p>
