<div class="center jumbotron">
  <h1>Bem vindo ao Berean</h1>

  <h2>
    O Berean é um aplicativo para gestão de igrejas e outras organizações
    que se assemelham a igrejas, tais como associações ou agremiações
  </h2>

      <%= link_to 'Inscreva-se agora!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>

    <%= link_to image_tag('rails.png', alt: 'Rails logo'), 'http://rubyonrails.org/' %>
<% end %>