<h1>Berean</h1>

<p>Olá <%= @user.name %>, tudo bem?</p>

<p>
Bem vindo(a) ao Berean! Clique no link abaixo para ativar sua conta:
</p>

<%= link_to "Ativar", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>